pip==21.1
bump2version==1.0.1
watchdog==2.0.3
wheel==0.36.2
flake8==3.9.1
watchdog==2.0.3
flake8==3.9.1
pytest==6.2.3
tox==3.23.0
coverage==5.5
twine==3.4.1
Sphinx==3.5.4
pytest-runner==5.3.0
Proj=4.9.0
pyproj==3.0.1
Cartopy==0.18.0
descartes==1.1.0
Fiona==1.8.19
matplotlib==3.4.1
geopandas==0.9.0
GDAL==3.2.2
matplotlib==3.4.1

numpy==1.20.2

pandas==1.2.4



scipy==1.6.2
pyproj==3.0.1
rasterio==1.2.2
utm==0.7.0
Shapely==1.7.1
